
<h2 class="u-mb1">Topics</h2>
<ol class="postlist" reversed>
{% for post in collections.posts | reverse %}
    <li>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        <time datetime="{{ post.date | dateToFormat('yyyy-LL-dd') }}">
            (Updated: {{ post.date | dateToFormat(meta.dateFormat) }})
        </time>
    </li>
{% endfor %}
</ol>
{% include "purpose.njk" %}