<div id="purposeWrapper" class="u-mt2">
  <h2 class="u-mb1">Purpose of this Website</h2>
    <p>
      To complement the work of the ACC Board of Elections and provide a quick, clear-cut source of information for Athens-Clarke County voters during the 2020 election season. 
    </p>
    <p class="u-mt1">
      All information on this website is sourced directly from the ACC Board of Elections and Georgia Secretary of State websites. Source links included where applicable.
    </p>
</div>